:root{
    --bg-dark: #1f2b5c;
    --turquoise: #59b3c9;
    --button-yellow: #ffc400;
}

body{
    margin:0;
    font-family:sans-serif;
    overflow:hidden;
    background:var(--bg-dark);
}

/* INTRO */

#intro{
    position:fixed;
    inset:0;
    background:var(--bg-dark);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:30;
}

.star{
    position:absolute;
    transform-origin:center;
    transition:transform 1.15s cubic-bezier(.8,0,.2,1);
}

.big{ width:320px; }

.small{
    width:80px;
    transform:translate(120px,-120px);
}

.zoom{
    transform:scale(60);
}

/* LANDING */

#landing{
    position:fixed;
    inset:0;
    background:var(--turquoise);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* LANDING COLOR TRANSITION */

#landing.transitioning{
    background:var(--bg-dark);
    transition:background 0.6s ease;
}

/* ARROW */

.arrow{
    position:fixed;
    right:-300px;
    top:-10vh;

    width:1200px;
    height:120vh;

    background:var(--bg-dark);

    clip-path:polygon(
        35% 0%,
        100% 0%,
        100% 100%,
        35% 100%,
        0% 50%
    );

    z-index:1;
    transition:transform 1s cubic-bezier(.7,0,.3,1);
}

.arrow.move{
    transform:translateX(-130vw);
}

/* UI */

.title{
    font-size:42px;
    color:white;
    margin-bottom:30px;
    position:relative;
    z-index:2;
}

.track-box{
    display:flex;
    gap:12px;
    position:relative;
    z-index:2;
}

input{
    padding:14px;
    width:260px;
    font-size:16px;
    border:none;
    border-radius:6px;
}

button{
    padding:14px 24px;
    font-size:16px;
    cursor:pointer;
    border:none;
    border-radius:6px;
    background:var(--button-yellow);
}