<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Record</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="add-body">

<div class="add-container">

    <h1>Add Supply Chain Event</h1>

    <img src="../static/images/UrsaMinor.png" class="constellation" alt="Ursa Minor Constellation">

    <form id="addForm">

        <input type="text" placeholder="Item ID" id="itemId" required>

        <input type="text" placeholder="Event Type" id="eventType" required>

        <input type="text" placeholder="Location" id="locationId" required>

        <input type="text" placeholder="Owner" id="owner" required>

        <button type="submit">Submit</button>

    </form>

    <div class="home-container">
    <a href="index.html" class="home-btn">

        <span class="home-icon">
            <img src="../static/images/home-icon.svg" alt="Home">
        </span>

        <span>Home</span>

    </a>
</div>

</div>

<script src="../static/js/add.js"></script>
</body>
</html>