<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Polari</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- INTRO -->
<div id="intro">
    <img src="../static/images/star.png" class="star big">
    <img src="../static/images/star.png" class="star small">
</div>

<!-- LANDING -->
<div id="landing">

    <div class="arrow"></div>

    <!-- LOGO TOP LEFT -->
    <img src="../static/images/logo.png" class="logo" alt="Polaris Logo">

    <!-- CONSTELLATION RIGHT SIDE -->
    <img src="../static/images/UrsaMinor.png" class="constellation" alt="Ursa Minor Constellation">

    <!-- INPUT + BUTTON -->
    <div class="track-box">
        <div></div>
        <input id="itemInput" type="text" placeholder="Enter Item ID">
        <button id="trackBtn">Track Lifecycle</button>
    </div>

</div>

<script src="../static/js/script.js"></script>
</body>
</html>