<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Polaris</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- INTRO -->
<div id="intro">
    <img src="../static/images/star.png" class="star big">
    <img src="../static/images/star.png" class="star small">
</div>

<!-- LANDING -->
<div id="landing">

    <div class="arrow"></div>

    <h1 class="title">Polari</h1>

    <div class="track-box">
        <input id="itemInput" type="text" placeholder="Enter Item ID">
        <button id="trackBtn">Track Lifecycle</button>
    </div>

</div>

<script src="../static/js/script.js"></script>
</body>
</html>