<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Polaris</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="track-body">

<!-- PAGE WRAPPER -->
<div class="track-page">

    <!-- RECORDS CONTAINER -->
    <div id="recordsContainer" class="records"></div>

</div>


<!-- HOME BUTTON -->
<div class="home-container">
    <a href="index.html" class="home-btn">

        <span class="home-icon">
            <img src="../static/images/home-icon.svg" alt="Home">
        </span>

        <span>Home</span>

    </a>
</div>

<!-- SCRIPT -->
<script src="../static/js/track.js"></script>

</body>
</html>